body{
  background: #edeef0;
  font-size: 13px;
  text-align: center;
  overflow:  hidden;
  margin: 15px;
}

#options{
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  background: white;
  margin-top: 15px;
  margin-left: -25%;
  border-radius:  2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

input{
  cursor: pointer;
}

#exampleDiv{
  position: absolute;
  display: inline-block;
  vertical-align: top;
  background: white;
  margin-top: 15px;
  margin-left: 15px;
  border-radius:  2px;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.optionsItem{
  display: block;
  margin: 5px;
}

#prevSizeRange{
  outline-width: 0px;
  -webkit-appearance: none;
  border-radius: 2px;/*
  height: 3px;
  background: #5181b8;*/
}

#prevSizeRange::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 3px;
  height: 3px;
  margin-top: -40%;
  background: #5181b8;
  border-radius: 50%;
  opacity: 0;
  transition: width 80ms linear, height 80ms linear, opacity 160ms linear;
}

#prevSizeRange:hover::-webkit-slider-thumb{
  -webkit-appearance: none;
  margin-top: -40%;
  width: 9px;
  height: 9px;
  opacity: 1;
}

#prevSizeRange:focus{
  outline-width: 0px;
}

#prevSizeRange::-ms-fill-lower {
  background: #5181b8;;
  height: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
#prevSizeRange::-ms-fill-upper {
  background: #5181b8;;
  height: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

a{
  text-decoration: none;
  color: #2a5885;
}

a:hover{
  text-decoration-line:underline;
  color: #2a5885;
}
a:visited{
    text-decoration: none;
    color: #2a5885;
}

#ad{
  color: black;
  opacity: 0.05;
  transition: opacity 160ms linear;
}
#ad:hover{
  opacity: 1;
}
