body{
  font-size: 13px;
}

hr{
    margin-top: 0px;
    margin-bottom: 0px;
}

button{
  border-width: 0px;
  background-color: white;
  cursor: pointer;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  min-height: 25px;
  min-width: 25px;
}

span{
  padding-left: 25px;
}

button.story{
  width:25px;
  height:25px;
  border-radius: 50%;
}

a{
  text-decoration: none;
  float: right!important;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #2a5885;
}

a:hover{
  text-decoration-line:underline;
  color: #2a5885;
}
a:visited{
    text-decoration: none;
    color: #2a5885;
}
